footer {
    color: white;
    font-family: Poppins;
    background-color: black;
    text-align: center;

    position: absolute;

    width: 100%;
    height: 100px;

    bottom: 0;
}

.icons-footer {
    margin-left: 10px;
}